.FeatureContainer_image.UserRegistration {
  background-image: url('../../assets/images/hairwhite.jpg');
}

.UserRegistration_inputGroup {
  text-align: center;
  margin-top: 125px;
  grid-column: 6/10;
  display: flex;
  flex-direction: column;
}
.UserRegistration_form h5 {
  margin: 20px;
}

.UserRegistration_input {
  height: 36px;
  width: 100%;
  background: none;
  border: 0.5px solid black;
  margin-top: -40px;
}
.UserRegistration_radioButtons {
  display: flex;
  width: fit-content;
  margin: auto;
}
.UserRegistration_radioButtons input {
  background: none;
  margin-top: 0;
  margin-right: 10px;
}
.UserRegistration_radio {
  display: flex;
  align-items: center;
}
h5.UserRegistration_radio input {
  width: 36px;
  background: none;
}
.UserRegistration_submit {
  background: none;
  border: none;
  cursor: pointer;
}
