.Filters-Container {
  display: flex;
  flex-direction: column;
  height: 60.8rem;
  margin: 3.2rem 1.2rem 1.2rem 1.2rem;
}
.Filters-Label_header {
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.Filters-Label_header_services {
  margin-top: 1rem;
}
.Filters-FormGroup {
  max-height: 36%;
  overflow: scroll;
}
.Filters-FormCheck {
  margin: 1rem 1rem 1rem 0;
  text-transform: capitalize;
}
.Filters-FormCheckInput {
  margin: 0 1rem 0 0;
}
.Filters-FormCheckLabel {
  font-weight: 300;
}
.Filters-Button {
  width: 11.6rem;
  height: 4.2rem;
  margin: 5rem 0 0 1.55rem;
  background: black;
  border-radius: 10px;
  border: 1px solid #f32dc8;
  color: white;
  text-align: center;
}
