* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
html {
  font-size: 62.5%;
}

.AppContainer {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
}
.FeatureContainer_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
}
.FeatureContainer {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-column-gap: 35px;
  height: 100vh;
  width: 100vw;
  max-width: 1206px;
  margin-right: auto;
  margin-left: auto;
}

.Navbar {
  display: flex;
  width: 100%;
  position: fixed;
  height: 100px;
  background: none;
  top: 0;
  z-index: 10;
  border-bottom: 0.5px solid black;
  justify-content: space-around;
}

ul.Navbar-List {
  list-style-type: none;
  padding: 0;
}

li.Navbar-Link {
  display: inline-block;
  margin: 0 4rem;
}
.Navbar-Link a {
  text-decoration: none;
  color: black;
}
.Navbar-Link a:hover {
  font-weight: 400;
}
.Navbar-Link a:focus {
  font-weight: 400;
}

h1 {
  font-size: 3.6rem;
  font-weight: 100;
}
h3 {
  font-size: 2.4rem;
  font-weight: 300;
}
h4 {
  font-size: 1.8rem;
  font-weight: 300;
  padding-top: 10px;
}
h5 {
  font-size: 1.6rem;
  line-height: 19px;
  font-weight: 300;
}

.btn--btn-primary {
  width: 116px;
  height: 42px;
  background: black;
  border-radius: 10px;
  border: 1px solid #f32dc8;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 10px;
  margin: 0 15px;
  cursor: pointer;
}
.btn--btn-primary.twoLines {
  padding-top: 5px;
  line-height: 1;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.4rem;
  line-height: 17px;
  font-weight: 400;
}
