/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  font-size: 1.6rem;
}
/* //hide scrollbar// */
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
/*
  Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.AppContainer {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.FeatureContainer_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
}
.FeatureContainer {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-column-gap: 35px;
  height: 100vh;
  width: 100vw;
  max-width: 1206px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 3.6rem;
  font-weight: 100;
}
h2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}
h3 {
  font-size: 2.4rem;
  font-weight: 300;
}
h4 {
  font-size: 1.8rem;
  font-weight: 300;
}
h5 {
  font-size: 1.5rem;
  line-height: 19px;
  font-weight: 300;
  margin: 20px 0 15px 0;
}
p {
  line-height: 1.9rem;
  font-weight: 400;
  text-transform: capitalize;
}
/* TODO: [ ] -> Rename */
/* .Btn-Primary */
.Btn-Primary {
  width: 116px;
  height: 42px;
  background: black;
  border-radius: 10px;
  border: 1px solid #f32dc8;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 10px;
  margin: 0 15px;
  cursor: pointer;
}
/* TODO: [ ] -> Rename */
/* .Btn-Primary */
.Btn-Primary.twoLines {
  padding-top: 5px;
  line-height: 1;
}
a {
  text-decoration: none;
  color: black;
}

.star {
  font-size: 2rem;
}
.star_small {
  font-size: 1.6rem;
}
.star.btn-review.on {
  color: #000;
}
.star.btn-review.off {
  color: rgba(0, 0, 0, 0.2);
}
input[type='checkbox'] {
  background-color: none !important;
}
input[type='checkbox'] {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

input[type='checkbox']:checked:before {
  content: '';
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  top: 0;
  left: 0;
  background-color: #f32dc8;
  border-radius: 2px;
}
input[type='checkbox']:checked:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 4px;
}

/* ///////media queries ////////// */

@media screen and (max-width: 575px) {
  .FeatureContainer {
    display: block;
    width: 80%;
  }
}
@media screen and (max-height: 850px) and (max-width: 450px) {
  .FeatureContainer {
    overflow: hidden;
  }
}
