.BusinessDetails-container {
  text-align: center;
  margin-top: 160px;
  grid-column: 4/13;
  display: flex;
  flex-direction: row;
  height: 58vh;
}
.BusinessContainer {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 40px;
  height: 100vh;
  width: 100vw;
  max-width: 1206px;
  margin-right: auto;
  margin-left: auto;
}

.BusinessDetails-leftColumn {
  border: 0.5px solid black;
  padding: 1.6rem;
  text-align: left;
  height: fit-content;
  grid-column: 4/7;
  margin-top: 160px;
}

ul.BusinessDetails-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h5.features,
h5.services {
  margin-top: 10px;
  margin-bottom: 5px;
}

h5.features:last-child {
  margin-bottom: 2rem;
}
.BusinessDetails-rightColumn {
  border: 0.5px solid black;
  background-image: url('../../assets/images/hairpinkbg.jpg');
  padding: 3.5rem;
  margin-top: 160px;
  grid-column: 7/14;
  height: fit-content;
  max-height: 58vh;
}
.About {
  display: flex;
}
.About-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.About-left {
  width: 35%;
  margin-right: 7%;
}
.About-right {
  text-align: left;
}
.About-right h3 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.About-right h2 {
  margin-top: -0.5rem;
}

.About-right p {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}
.BusinessDetails-buttons {
  display: flex;
  flex-direction: column;
}
.btn--btn-primary.review.book,
.phoneNumber {
  align-self: center;
  margin-left: 50px;
  margin-top: -42px;
}
.phoneNumber {
  margin-top: -30px;
  margin-left: 65px;
  margin-bottom: 11px;
}
