/* .container.home {
  background-image: url('./assets/images.pinkcrop.jpg');
  background-size: cover;
} */
.home {
  margin-top: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position-y: bottom;
}
