.home {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / span-1;
  background-position: bottom center;
  grid-column-gap: 20px;
  height: 100vh;
  width: 100%;
  /* max-width: 1206;  */
  /*TODO-FIXME: Above is not displaing to the page?  */
  margin-top: -10vh; /* Adds overlap styles to navbar */
  margin-right: auto;
  margin-left: auto;
}
/* .home::after {
  content: '';
  height: 10vh;
  background-color: blue;
  width: 100%;
} */

/* .home::before {
  content: '';
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: blue;
  position: relative;
  margin-top: -30rem;
  transform: rotate(90deg); */
/* translate-radiusX(-50%); */
/* z-index: 1; */
/* width: 100%; */
/* } */

/* .input-group {
  text-align: center;
  margin-top: 200px;
  grid-column: 6/11;
}
.input-group input {
  height: 36px;} */

.FeatureContainer_image.Home {
  background-image: url('../../assets/images/hairpink.jpg');
}
.FeatureContainer_image.LoggedIn {
  background-image: url('../../assets/images/hairlavender.jpg');
}
.Home_inputGroup {
  text-align: center;
  margin-top: 300px;
  grid-column: 6/10;
}
.Home_input {
  height: 30px;
  width: 80%;
  background: none;
  border: 0.5px solid black;
  margin-top: -40px;
  text-align: center;
  font-size: 1.6em;
  font-weight: 100;
}

.Home_input:focus {
  outline: none;
}

/* ///////media queries ////////// */

@media screen and (max-width: 575px) {
  .FeatureContainer_image.Home {
    background-image: url('../../assets/images/hairpink-mobile.jpg');
  }
  .FeatureContainer_image.LoggedIn {
    background-image: url('../../assets/images/hairlavender-mobile.jpg');
  }
}
