.FeatureContainer_image.Home {
  background-image: url('../../assets/images/hairpink.jpg');
}
.FeatureContainer_image.LoggedIn {
  background-image: url('../../assets/images/hairlavender.jpg');
}
.Home_inputGroup {
  text-align: center;
  margin-top: 300px;
  grid-column: 6/10;
}
.Home_input {
  height: 30px;
  width: 80%;
  background: none;
  border: 0.5px solid black;
  margin-top: -40px;
  text-align: center;
  font-size: 1.6em;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
.Home_input:focus {
  outline: none;
}

/** Media Queries **/
@media screen and (max-width: 575px) {
  .FeatureContainer_image.Home {
    background-image: url('../../assets/images/hairpink-mobile.jpg');
    height: 100%;
  }
  .FeatureContainer_image.LoggedIn {
    background-image: url('../../assets/images/hairlavender-mobile.jpg');
    height: 100%;
  }
}
