.FeatureContainer_image.Home {
  background-image: url('../../assets/images/hairpink.jpg');
}

.Home_inputGroup {
  text-align: center;
  margin-top: 300px;
  grid-column: 6/10;
}
.Home_input {
  height: 36px;
  width: 80%;
  background: none;
  border: 0.5px solid black;
  margin-top: -40px;
  text-align: center;
  font-size: 1.6em;
  font-weight: 100;
}

.Home_input:focus {
  outline: none;
}
