.card {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.BusinessCard {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
div.card:nth-child(1) {
  margin-top: 0;
}

.BusinessCard:hover {
  opacity: 0.5;
}
.Star-container {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
