.card {
  position: relative;
  margin: 0;
  padding: 1rem;
  overflow: hidden;
}

.BusinessCard {
  padding: 1rem;
  overflow: hidden;
  /* width: 1000px; */
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
div.card:nth-child(1) {
  margin-top: 0;
}

.BusinessCard:hover {
  opacity: 0.5;
}
