@keyframes LoadSpinner-Wrapper {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.LoadSpinner-Wrapper div {
  left: 92.59px;
  top: 47.28px;
  position: absolute;
  animation: LoadSpinner-Wrapper linear 1s infinite;
  background: #f32dc8;
  width: 11.82px;
  height: 23.64px;
  border-radius: 5.91px / 11.82px;
  transform-origin: 5.91px 51.22px;
}
.LoadSpinner-Wrapper div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #f32dc8;
}
.LoadSpinner-Wrapper div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #e00db2;
}
.LoadSpinner-Wrapper div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #f32dc8;
}
.LoadSpinner-Wrapper div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #e00db2;
}
.LoadSpinner-Wrapper div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #f32dc8;
}
.LoadSpinner-Wrapper div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #e00db2;
}
.LoadSpinner-Wrapper div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #f32dc8;
}
.LoadSpinner-Wrapper div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #e00db2;
}
.LoadSpinner-Wrapper div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #f32dc8;
}
.LoadSpinner-Wrapper div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #e00db2;
}
.LoadSpinner-Wrapper div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #f32dc8;
}
.LoadSpinner-Wrapper div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #e00db2;
}
.LoadSpinner {
  grid-column-start: span 8;
  justify-items: center;
  align-content: center;
}
.LoadSpinner-Wrapper {
  display: grid;
  grid-column-start: 7;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: -15rem;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.LoadSpinner-Wrapper div {
  box-sizing: content-box;
}

/* ----- -> Media Queries <- ----- */
@media screen and (max-width: 990px) {
  .LoadSpinner-Wrapper {
    grid-column-start: 6;
  }
}
@media screen and (max-width: 575px) {
  .LoadSpinner {
    display: grid !important;
  }
  .LoadSpinner-Wrapper {
    grid-column-start: 2;  }
}
@media screen and (max-width: 575px) {
  .LoadSpinner-Wrapper {
    margin-top: -25rem !important;
  }
}
