.FeatureContainer_image.User {
  background-image: url('../../assets/images/hairwhite.jpg');
}

.FeatureContainer_image.Owner,
.FeatureContainer_image.EditUser {
  background-image: url('../../assets/images/hairgreysm.jpg');
}

.Profile_user {
  text-align: center;
  grid-column: 5/11;
  margin-top: 125px;
}

.Profile_name h1 {
  text-align: center;
}
img.user-pix-placeholder {
  width: 35%;

  margin-top: -20px;
}
.Profile_reviews {
  margin-top: 20px;
  font-size: 1.6rem;
  display: flex;
  text-align: left;
  border-bottom: 1px solid #f32dc8;
}
.Profile_reviews:first-child {
  margin-top: 0;
}

.column-left {
  width: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
}
.column-right h5 {
  margin: 0;
  font-weight: normal;
  font-size: 1.7rem;
}
.column-right {
  width: 65%;
  margin-top: -5px;
  margin-bottom: 20px;
}
.column-right.Star-container {
  width: 60%;
  /* width: 30%; */
}
img {
  width: 100%;
}
.profile-container {
  overflow-y: scroll;
  height: 90%;
}
ul.Profile_User_reviews {
  padding: 0;
  list-style-type: none;
  margin-top: 0;
}
.user-foto {
  z-index: 100;
  position: absolute;
  left: 45%;
}
.review-btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}
.btn--btn-primary.reviews {
  width: 45%;
  margin: 0;
  height: 35px;
  padding: 0;
  font-weight: 100;
}

.Profile-UserContainer {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 3.5rem;
  background-image: url('../../assets/images/hairwhitebg.jpg');
  position: relative;
  height: fit-content;
}
.Profile-UserContainer_reviews h4 {
  border-top: 1px solid #f32dc8;
  border-bottom: 1px solid #f32dc8;
  font-weight: 500;
  padding: 1rem;
  margin: 0;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.Profile-UserContainer_reviews {
  height: 35vh;
  overflow: hidden;
}

.Profile-UserContainer_reviews.business {
  margin-top: 0;
  height: 100%;
  overflow: hidden;
}

.Profile_links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.Profile-UserContainer_pic {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.Profile-UserContainer.Owner {
  background-image: url('../../assets/images/hairgreybg.jpg');
  padding-bottom: 0;
}

/* ///////media queries ////////// */

@media screen and (max-width: 575px) {
  .FeatureContainer_image.User {
    background-image: url('../../assets/images/hairwhite-mobile.jpg');
    height: 100%;
  }
  .FeatureContainer_image.EditUser,
  .FeatureContainer_image.Owner {
    background-image: url('../../assets/images/hairgrey-mobile.jpg');
    height: 100%;
  }

  .FeatureContainer_image.User {
    background-image: url('../../assets/images/hairwhite-mobile.jpg');
    height: 100%;
  }
}
