.AddBusiness-Container_image {
  margin-bottom: -10px;
  background-image: url('../../assets/images/hairlavender.jpg');
}
.AddBusiness-Form {
  display: flex;
  flex-direction: row;
  grid-column: 4/12;
  height: 50%;
  margin-top: 160px;
  text-align: center;
}
.AddBusiness-FormCard {
  display: flex;
  width: 75%;
  overflow-y: auto;
}
.AddBusiness-FormCard_body {
  width: 100%;
}
.AddBusiness-FormCard_body_columns {
  display: flex;
}
.AddBusiness-FormCard_body_left {
  width: 45%;
  margin-right: 10%;
}
.AddBusiness-FormCard_body_right {
  width: 45%;
}
.AddBusiness-Form button.Btn-Primary{
  margin-left: 26px;
}

/** Media Queries **/
@media screen and (max-width: 575px) {
  .AddBusiness-Container_image {
    height: 100%;
    margin-bottom: 0;
    background-image: url('../../assets/images/hairlavender-mobile.jpg');
  }
  .AddBusiness-Form {
    height: 50%;
    grid-column: none;
    flex-wrap: wrap;
    margin-top: 160px;
    overflow-y: scroll;
    text-align: center;
  }
  .AddBusiness-FormCard {
    width: 100%;
  }
}
