.FeatureContainer_image.Profile {
  background-image: url('../../assets/images/hairlavender.jpg');
  margin-bottom: -10px;
}

.AddBusiness_inputGroup {
  text-align: center;
  margin-top: 160px;
  grid-column: 4/12;
  display: flex;
  flex-direction: row;
  height: 50%;
}

.AddBusiness-FormCard_sidebar {
  margin-left: 5%;
  border: 0.5px solid black;
  padding: 1.6rem;
  text-align: left;
}
.AddBusiness-FormCard_body_columns {
  display: flex;
}
.AddBusiness_scroll {
  overflow-y: auto;
  display: flex;
  width: 75%;
}
.AddBusiness-FormCard_body {
  width: 100%;
}
.AddBusiness-FormCard_body_left {
  margin-right: 10%;
  width: 45%;
}
.AddBusiness-FormCard_body_right {
  width: 45%;
}

.sidebar-hed {
  text-align: center;
  font-weight: 500;
  margin: 0;
  font-size: 1.6rem;
}
input.AddBusiness-FormCard_filtersContainer_formCheckInput {
  margin-right: 5px;
}

.UserRegistration_input.color {
  background: #eee6ed;
}

.AddBusiness-FormCard_filtersContainer_formGroup {
  text-transform: capitalize;
  overflow-y: scroll;
  height: 170px;
}
.AddBusiness-FormCard_filtersContainer {
  margin-bottom: 15px;
}

/* * Hide the default checkbox */
/* input[type='checkbox'] {
  visibility: hidden;
} */

/* ///////media queries ////////// */

@media screen and (max-width: 575px) {
  .FeatureContainer_image.Profile {
    background-image: url('../../assets/images/hairlavender-mobile.jpg');
    margin-bottom: 0;
    height: 100%;
  }

  .AddBusiness_inputGroup {
    text-align: center;
    margin-top: 160px;
    grid-column: none;
    flex-wrap: wrap;
    height: 50%;
    overflow-y: scroll;
  }
  .AddBusiness_scroll {
    width: 100%;
  }
  .AddBusiness-FormCard_sidebar {
    margin: auto;
    margin-top: 3rem;
  }
}
