.FeatureContainer_image.Review {
  background-image: url('../../assets/images/hairlavender.jpg');
}
.AddReview-container {
  text-align: center;
  margin-top: 145px;
  grid-column: 5/11;
  display: flex;
  flex-direction: column;
}
.btn-review,
.btn-review_small {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
}
.btn-review_small {
  font-size: 1.5rem;
  cursor: default;
}
.btn-review.on,
.btn-review_small.on {
  color: #000;
}
.btn-review.off,
.btn-review_small.off {
  color: rgba(0, 0, 0, 0.2);
}
.form {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 25px;
}
.form-group.star-rating {
  margin: 19px 0;
}
.form-control.text-area {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 85%;
  height: 200px;
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
  line-height: 1.5;
  padding-top: 1.5rem;
  max-height: fit-content;
  margin-top: 0;
}
.form-group {
  margin-bottom: 19px;
}
.Btn-Primary.add-review {
  width: 95px;
  margin-bottom: 19px;
  padding-top: 0px;
}
.AddReview-name {
  text-transform: capitalize;
}
.Btn-Primary.review.hide {
  display: none;
  /* visibility: hidden; */
}

/** Media Queries **/
@media screen and (max-width: 575px) {
  .FeatureContainer_image.Review {
    background-image: url('../../assets/images/hairlavender-mobile.jpg');
    margin-bottom: 0;
    height: 100%;
  }
}
