.BusinessImage_image_preview{margin: 0}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 20px;
  margin-top: -30px;
  color: rgba(0, 0, 0, 0.3);
}
.fileUpload.business {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.UserImage-pic {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.BusinessImage-pic {
  width: 125px;
  height: 125px;
}
