.Navbar {
  display: flex;
  width: 100%;
  position: fixed;
  height: 100px;
  background: none;
  top: 0;
  z-index: 10;
  border-bottom: 0.5px solid black;
  justify-content: space-around;
}
h4.Navbar_logo {
  padding-top: 20px;
}
ul.NavbarList {
  list-style-type: none;
  padding: 0;
}

li.NavbarList_link {
  display: inline-block;
  margin: 0 4rem;
}
.NavbarList_link a {
  text-decoration: none;
  color: black;
}
.NavbarList_link a:hover {
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #f32dc8;
  padding-bottom: 3px;
}
.NavbarList_link a:focus {
  font-weight: 400;
}

.show-menu-btn {
  display: none;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
/* ///////drop-down ////////// */

.dropdown-menu {
  width: 200px;
  position: absolute;
  list-style: none;
  text-align: start;
}
ul.dropdown-menu {
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul.dropdown-menu > li.NavbarList_link {
  margin: 0;
}
.dropdown-menu li {
  cursor: pointer;
  line-height: 1.5;
}
.dropdown-menu li:first-child {
  line-height: 2.5;
}

.dropdown-menu.clicked {
  display: none;
}

ul.dropdown-menu > li.NavbarList_link a:hover {
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #f32dc8;
  padding-bottom: 3px;
}
ul.dropdown-menu > li.NavbarList_linka:focus {
  font-weight: 400;
}

/* ///////media queries ////////// */

@media screen and (max-width: 575px) {
  .show-menu-btn {
    display: block;
    margin-right: -22%;
  }
  li.NavbarList_link {
    display: block;
    color: white;
    text-align: center;
    line-height: 1;
    margin: 0 5rem;
  }
  .NavbarList_link a {
    color: white;
  }
  .Navbar_logo {
    margin-left: -22%;
  }
  ul.NavbarList {
    padding-top: 10%;
  }
  .menu {
    position: fixed;
    width: 82%;
    height: 80%;
    background: black;
    right: -100%;
    top: 14%;
    text-align: left;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 3;
    margin-right: 9%;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 10px;
    border: 1px solid #f32dc8;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .menu a:hover {
    padding: 20px;
  }

  #chk:checked ~ .menu {
    right: 0;
  }

  .NavbarList_link.mobile > .dropdown-menu {
    position: relative;
  }

  ul.dropdown-menu > li.NavbarList_link {
    line-height: 1;
  }
  ul.dropdown-menu > li.NavbarList_link a:hover {
    padding: 20px;
    margin: 0 5rem;
  }
  li.NavbarList_link a:hover {
    margin: 0 5rem;
  }

  .Profile-dropdown {
    padding: 20px;
  }
  .NavbarList_link.noUser {
    margin: 0;
  }
}
